.gradient-background {
    background: linear-gradient(300deg, #8ACDD7, #F9F9E0, #FF90BC);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
/* Custom Pink Button */
.btn-pink {
    background-color: #f06292; /* Pink color */
    border-color: #f06292;
    color: white;
  }
  
  /* Hover state */
  .btn-pink:hover {
    background-color: #ec407a; /* Darker pink for hover */
    border-color: #ec407a;
  }
  

/* Button with Pink Outline */
.btn-outline-pink {
    background-color: white;
    border: 2px solid #f06292; /* Pink border */
    color: #f06292; /* Pink text */
  }
  
  /* Hover state for the outlined button */
  .btn-outline-pink:hover {
    background-color: #f06292; /* Pink background */
    color: white; /* White text */
    border-color: #f06292;
  }

  .footer-text {
    text-align: center;  /* Centers the text horizontally */
    color: gray;         /* Changes the text color to gray */
    width: 100%;         /* Ensures the text takes up full width of its parent */
    margin: 0 auto;      /* Centers the paragraph within its container */
    padding-top: 10px;   /* Adjusts spacing above the paragraph */

  }

  .profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

#features {
    margin-bottom: 0; /* Reduce or remove bottom margin */
    padding-bottom: 1rem; /* Adjust padding as needed */
  }
  .text-center {
    text-align: center;
  }
  

